<div class="card border-primary mb-3" *ngIf="mostrar else elseBlock">
  <div class="card-header">Directores</div>
  <div class="card-body text-primary">
    <h5 class="card-title my-2 ">Listado de directores</h5>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let director of directors">
          <td>{{ director.code }}</td>
          <td>{{ director.name }}</td>
          <td>{{ director.description }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #elseBlock>
  <div>
    {{ mensaje }}
  </div>
</ng-template>
